<p>
<% rand(800).times do %>
  <% newline = rand > 0.95 %>
  <% if newline %>
    </p>
  <% end %>
    <% word = (@word_generator || word_generator).call.send(%i[upcase downcase].sample) %>
    <%= (link_to word, next_action, class: "glitch #{glitch_class} #{size_class}", data: {text: word}) %>
  <% if newline %>
    <p class = <%= %w[left right].sample %> >
  <% end %>
<% end %>
</p>
