<h1>
  <% @hipku.each do |line| %>
    <p><%= line.gsub(/\A./) {|m| m.upcase} %></p>
  <% end %>
</h1>

<% rand(600).times do %>
  <% newline = rand > 0.95 %>
  <% if newline %>
    <p>
  <% end %>
    <% word = generate_word %>
    <%= (link_to word, next_action, class: "glitch #{glitch_class}", data: {text: word}) %>
  <% if newline %>
    </p>
  <% end %>
<% end %>
