// Place all the styles related to the gnomon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: black;
  color: limegreen;
  font-family: monospace;
  h1 {
    text-align: center;
  }
}

.ask {
  float: left;
}

.tell {
  float: right;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

body a {
  color: limegreen;
}

label {
  font-size: 50px
}

.buttonholder {
  clear: both;
  text-align: center;
}

button {
  font-size: 100px;
}

textarea {
  height:200px;
  font-size:50px;
}

p {
  clear: both;
}

.glitch {
  position: relative;
  color: hotpink;
  background: black;
}

.small {
  font-size: 10px
}

.medium {
  font-size: 14px
}

.large {
  font-size: 18px
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch::before {
  left: 1px;
}

.one::before {
  text-shadow: -1px 0 red;
  color: yellow;
}
.two::before {
  text-shadow: -1px 0 blue;
  color: green;
}
.three::before {
  text-shadow: -1px 0 orange;
  color: purple;
}

.glitch::after {
  left: -1px;
}
.one::after {
  text-shadow: -1px 0 blue;
  color: green;
}
.two::after {
  text-shadow: -1px 0 orange;
  color: purple;
}
.three::after {
  text-shadow: -1px 0 red;
  color: yellow;
}
